body {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  font-weight: 300;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
  margin-top: 50px;
}

.brand-logo > span {
  font-weight: 300;
}

.brand-logo img {
  height: 40px;
  vertical-align: sub;
}

.footer-copyright .fa {
  float: right;
  font-size: 23px;
  margin-left: 18px;
}

.footer-copyright .fa:hover {
  color: #000000;
}

.dropdown-content {
  min-width: 150px;
  margin-top: 8px;
}

.dropdown-content li > a {
  color: #1565c0 !important;
}

.dropdown-content li.active {
  background-color: #ff0 !important;
}

.dropdown-content li.active > a {
  color: #000 !important;
}

.modal {
  height: 100vh !important;
  max-height: 100vh;
  top: 0 !important;
  width: 100%;
}

.row .col.feature {
  padding-bottom: 10px;
}

a.grey-text i {
  line-height: 50px;
}

.hidden {
  display: none;
}


/** SEARCH FORM **/
.search-wrapper {
  margin: 50px 0 0 0;
  position: relative;
}

.search-label {
  color: initial;
  display: block;
  font-size: 1.25rem;
  font-weight: 400;
  padding-bottom: 10px;
}

.search-wrapper input.search-input {
  display: inline-block;
  font-size: 36px;
  margin: 0;
  padding: 20px;
  position: relative;
  width: calc(100% - 40px);
}

.search-wrapper input.search-input:focus {
  background-color: rgba(209, 209, 209, 0.1);
  border: 1px solid #d1d1d1;
  box-shadow: 0 0 0 0;
}

div.simplesearch-reset {
  font-size: 56px;
  left: initial !important;
  position: absolute !important;
  right: 15px;
  top: 36px;
}


/** FACETS **/
.search-facets {
  font-family: "Helvetica Neue", monospace, sans-serif;
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin: 1.5em 0 0;
}
.search-facets h4 {
  clear: both;
  font-weight: 300;
  font-size: 2rem;
  margin: 0;
  text-transform: capitalize;
}
.simplesearch-facet-value-list {
    margin: 0.5em 0 1.5em;
}
.search-facets ul li span.simplesearch-facet-value-name {
  color: #039be5;
  cursor: pointer;
  white-space: nowrap;
  display: inline-block;
}
.search-facets ul li span.simplesearch-facet-value-name:hover {
  color: red;
}
.search-facets .simplesearch-facet-value-count {
  display: none;
}
.languages {
  clear: both;
  word-wrap: break-word;
}
.separator {
  clear: both;
  color: #ccc;
  font-size: 2rem;
  margin: 1rem 0 5rem 0;
}

/* RESULTS */
.search-results {
  float: left;
  margin: 1.5em 0 0;
  padding: 5rem 0;
  position: relative;
  width: 100%;
}
.simplesearch-count {
  float: right;
  font-weight: 400;
  padding: 0 0 2rem;
}
#team .search-results div.simplesearch-count {
  display: none;
}
.search-results ul.simplesearch-list {
  clear: both;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.search-results ul li {
  float: left;
  margin: 0 0 0 0;
  padding: 0;
  width: 100%;
}
.simplesearch-result img {
  float: left;
  margin: 0 2rem 1rem 0;
}
.simplesearch-result h3 {
  font-size: 2rem;
  line-height: 2rem;
  margin: 0 0 .2rem 0;
}
.simplesearch-result p.specialties {
  font-family: "Helvetica Neue", monospace, sans-serif;
  font-size: 1.25rem;
}
.search-results ul.simplesearch-list li ul.social {
  float: left;
  list-style: none;
  margin: 0 0 2rem 0;
  padding: 0;
  width: 100%;
}
.search-results ul.simplesearch-list li ul.social li.site {
  float: left;
  font-family: "Helvetica Neue", monospace, sans-serif;
  font-size: 1rem;
  line-height: 1.3rem;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 1rem;
  width: auto;
}
.search-results ul.simplesearch-list li ul.social li.site a {
  color: blue;
  display: block;
  line-height: 1rem;
  padding: 0;
}
.search-results ul.simplesearch-list li ul.social li.site a:hover {
  border-color: red;
  color: red;
}
.simplesearch-more {
  background-color: #1565C0;
  border: medium none;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  color: #fff;
  cursor: pointer;
  height: 54px;
  letter-spacing: 0.5px;
  line-height: 54px;
  outline: 0 none;
  padding: 0 2rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s ease-out 0s;
  vertical-align: middle;
}
.simplesearch-more:hover {
  background-color: #2196f3;
}
.simplesearch-more:disabled {
  background-color: #dfdfdf !important;
  box-shadow: none;
  color: #9f9f9f !important;
  cursor: default;
  pointer-events: none;
}

.devcenter-result::after {
  content: "\2026";
  display: inline-block;
  clear: both;
  color: #ccc;
  font-size: 2rem;
  margin: 1rem 0 5rem;
}
.devcenter-result dt {
  display: none;
}
.simplesearch-value-name {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2rem;
  margin: 0 0 0.2rem;
}
.simplesearch-value-url {
  font-size: 1.1rem;
  margin: 0 0 0.6rem 0;
}
.simplesearch-value-description {
  margin: 0;
}
.repo-meta i {
  margin: 0 5px 0 25px;
}
.repo-meta i:first-child {
  margin-left: 0;
}
.repos-wrapper {
  margin: 0;
  padding: 5rem 0;
  position: relative;
  width: 100%;
}
.repos-count {
  float: right;
  font-weight: 400;
  padding: 0 0 2rem;
}

/* brobes */
.strat-head {
  border-bottom: 2px solid #000;
}

.strat-head a {
  color: #000;
  text-decoration: none;
}

.strat-head a:hover {
  color: red;
}

.sub-toc {
  margin-top: 3rem;
  border-top: 2px solid #000;
}

.story-img-12 {
  float:left;
  margin: 5px 15px 15px 0px;
  width: 33%;
  height: auto;
}

.story-img-4 {
  float:left;
  margin: 5px 15px 15px 0px;
  width: 33%;
  height: auto;
}

.story-icon {
  border: 1px groove;
  padding: 0px 5px 0px 5px;
  margin-left: 5px;
}

.subhead {
  font-weight: 400; /* 400 is normal */
  color: darkgray;
}

.introline {
  font-weight: 600; /* 700 is bold */
}

.nav-fixed {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    margin-bottom: 0;
    z-index: 997;
  }

  .not-active, .not-active a {
   cursor: default;
   color: grey;
   opacity: 0.7;
}

/* override some Materialize defualt of not displaying bullets */
col ul:not(.browser-default), col ul:not(.browser-default) li {
  list-style-type: initial;
}

.nobullets, .nobullets li {
  list-style: none !important;
  padding-left: 0;
}

blockquote {
    margin: 20px 0;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    border-left: 5px solid #1565C0;
    background: lightgrey;
}

.button-collapse .material-icons {
  color: black;
}

/* Brad's CSS */
a.brand-logo {
  color: black;
  position: relative;
}
.no-rtfm {
  display: block;
  left: -10%;
  position: absolute;
  top: 45%;
  width: 120%;
  border-bottom: 6px solid rgba(255, 0, 0, .50);
}
nav.white {
  background: white;
  box-shadow: none;
}
nav.white ul li a {
  color: black;
}
h1 {
  color: #333;
  font-size: 3rem;
  line-height: 3.5rem;
  margin: 3rem 0;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.2rem;
}
.feature h3, h1 spans {
  border-bottom: 2px solid lightblue;
  display: inline;
  font-size: .9rem;
  font-weight: bold;
  margin-bottom: 3rem;
  padding: 0;
  text-transform: uppercase;
}
h1 span {
  border: 0;
  display: block;
  font-size: 1.2rem;
  font-weight: normal;
  margin-bottom: 0;
  text-transform: none;
}

a.quiet-link {
  color: #333;
}
a.quiet-link:hover {
  color: blue
}
.item {
  margin-bottom: 5rem;
}
.feature .item {
  border-bottom: 1px solid #eee;
  margin: 0;
}
.nowrap {
  white-space: nowrap;
}

div.featured .item img {
  float: left;
  margin-right: 3rem;
  width: 40%;
}

dl.tags dt, dl.tags dd  {
  float: left;
  margin: 0 .5rem 0 0;
  padding: 0;
}

div.featured .item a.nowrap {
  clear: left;
  display: block;
}

div.featured .item {
  margin-bottom: 3rem;
  padding-bottom: 3rem;
}

@media only screen and (min-width: 600px) {
  .sidebar-fixed {
    width: 16%;
    position: fixed;
  }
}

@media only screen and (max-width: 600px) {
  .search-facets ul li {
    float: left;
    margin: 0 0.5rem 0 0;
    padding: 0;
  }
  .search-facets ul li:after {
    color: #ccc;
    content: " / ";
  }
  .search-facets ul li:last-child:after {
    content: none;
  }
}

.sidebar-fixed {
    display: block;
}
