---
layout: default
title: 404
id: 404
permalink: /404.html
---

<div class="container">
  <h1>
    {{ page.title }}
  </h1>

  <p>
    Sorry, something's wrong. Either the page you're trying to find has moved, or it never existed. But that doesn't mean we don't have something for ya! 
  </p>

  <p>
    Read up <a href="/about">on our team and how we do things</a>, jump into <a href="/projects">our projects</a>, or peruse the ideas we're exploring:
  </p>

  <div class="row">
    <div class="col m4">
      <h2>Topics</h2>
      <ul>
      {% for topic in site.strategies %}
        <li><a href="/{{ topic.permalink }}">{{topic.title}}</a></li>
      {% endfor %}
      </ul>
    </div>
    <div class="col m4">
      <h2>Collections</h2>
      <ul>
      {% for feature in site.features %}
        <li><a href="/{{ feature.permalink }}">{{feature.title}}</a></li>
      {% endfor %}
      </ul>
    </div>
    <div class="col m4">
      <h2>Elsewhere</h2>
      <ul class="horizontal">
        <li>
          <a href="https://github.com/ibm-watson-data-lab" title="GitHub" target="_blank">
            <i class="fa fa-github" aria-hidden="true"></i> Github
          </a>
        </li>
        <li>
          <a href="https://medium.com/ibm-watson-data-lab" title="Medium" target="_blank">
            <i class="fa fa-medium" aria-hidden="true"></i> Medium
          </a>
        </li>
        <li>
          <a href="https://twitter.com/WatsonDataLab" title="Twitter" target="_blank">
            <i class="fa fa-twitter" aria-hidden="true"></i> Twitter
          </a>
        </li>
      </ul>
    </div>
  </div>

  <p>
    Thanks for coming by!
  </p>

</div>
