---
layout: default
title: Home
---

{% assign features = site.strategies | sort:'featured' | reverse %}
<h1>
  Things <a href="{{ site.baseurl }}/team">we</a> made with data,<br />so you can, too.
</h1>

<div class="row">
  {% for feature in features %}
  <div class="col {% if feature.featured %}m12{% else %}m4{% endif %} feature">
    <a href="/{{ feature.permalink }}" title="{{ feature.headline }}">{{ feature.title }}</a>
    {% assign collections = site.features | where:"strategies",feature.permalink %}
    {% for collection in collections limit:2 %}
    <div class="featured-collection {% if feature.featured %}featured{% endif %}">
        <strong class="title"><a href="/{{ collection.permalink }}" title="{{ collection.headline }}">{{ collection.title }}</a></strong><br />

        {% if feature.featured and collection.img %}
        <div class="row">
          <div class="col m4">
            <img src="{{ collection.img }}" />
          </div>
          <div class="col m8">
              <strong class="headline">{{ collection.headline }}</strong>
              {{ collection.content | truncatewords:20 }}<br />
              <a href="{{ collection.permalink }}" title="Continue reading {{ collection.title }}">Continue reading</a>
          </div>
        </div>
        {% else %}
          {{ collection.headline }}
        {% endif %}

    </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>
<div class="divider"></div>
<div class="section">
  <p>
    <a href="/projects">All projects</a>
  </p>
</div>

<!--
  {% if feature.featured %}
    <div class="col {{ feature.col }} feature featured">
      <h3>
        <a href="{{ feature.permalink }}" class="quiet-link" title="{{ feature.headline }}">{{ feature.title }}</a>
      </h3>
      {% assign array = site.data.projects | where:"strategies",feature.connector | reverse %}
      {% for item in array limit: 1 %}
      <div class="item">
      {% if item.img %}
        <img src="{{ item.img }}" />
      {% endif %}
        <p>
          <a href="{{ item.link }}" class="quiet-link"><strong>{{ item.headline }}</strong></a> {{ item.story }} 
        </p>
        {% if item.tags %}
        <p class="tags">
            Features {{ item.tags | array_to_sentence_string: "and" }}.
        </p>
        {% endif %}
        <a href="{{ item.link }}" class="nowrap" title="">{{ item.title }} &rarr;</a>
      </div>
      {% endfor %}
    </div>
  {% else %}
  <div class="col {{ feature.col }} feature">

    {% if feature.title and feature.title != "Our Work" %}
      <h3>
        <a href="{{ feature.permalink }}" class="quiet-link" title="{{ feature.headline }}">{{ feature.title }}</a>
      </h3>
    {% endif %}
    {% if feature.section %}
    <h3>{{feature.section}}</h3>
    {% endif %}

    {% assign array = site.data.projects | where:"strategies",feature.connector | reverse %}
    {% for item in array limit: 2 %}
    <div class="item">
      <p>
        <a href="{{ item.link }}" class="quiet-link"><strong>{{ item.headline }}</strong></a> {{ item.story }} 
        <a href="{{ item.link }}" class="nowrap">{{ item.title }} &rarr;</a>
      </p>
    </div>
    {% endfor %}

  </div>
  {% endif %}
-->
