---
layout: default
title: advo showcase
id: home
---

<div class="row container">
  {% for feature in site.features %}
  <div class="col {{ feature.col }} feature">
    {% if feature.headline %}
    <h5>
      <a href="#" class="modal-trigger" data-target="modal-feature-{{ feature.id }}">{{ feature.headline }}</a>
    </h5>
    {% endif %}
    {% if feature.story %}
    <p>{{ feature.story | markdownify }}</p>
    {% else %}
    {{ feature }}
    {% endif %}
  </div>
  {% endfor %}
</div>
{% include modal-feature.html %}
