---
layout: default
title:  Home
id:     home
---

<h1>
  Things <a href="{{ site.baseurl }}/team">we</a> made with data,<br />so you can, too.
</h1>

{% assign projects = site.data.projects %}
{% assign latest = projects.last %}
<blockquote>  
  Recently, on {{ latest.links.first[0] }}: <a href="{{ latest.links.first[1] }}" title="Find it on {{ latest.links.first[0] }}"><strong>{{ latest.title }}</strong> &rarr;</a>
</blockquote>

{% assign strategies = site.strategies %}
<div class="row">
  <div class="col m6 tier-1">
    <!-- get the featured strategy(ies) -->
    {% assign items = strategies | where:"tier","1" %}
    {% for item in items %}
      {% include item-home.html item=item tier='1' limit='3' %}                          
    {% endfor %}
  </div>
  <div class="col m3 tier-2">
    {% assign items = strategies | where:"tier","2" %}
    {% for item in items %}
      {% include item-home.html item=item tier='2' limit='2' %}                          
    {% endfor %}
  </div>
  <div class="col m3 tier-3">
    {% assign items = strategies | where:"tier","3" %}
    {% for item in items %}
      {% include item-home.html item=item tier='3' limit='10' %}                          
    {% endfor %}
  </div>
</div>

<div class="divider"></div>
<div class="section">
  <p>
    <a href="/projects">All projects</a>
  </p>
</div>