<div class="more-topics-coc hide-on-small-only" id="pintar">

	<ul>
	  <li class="{% if page.permalink == 'about' %}not-active{% endif %}"><a href="{{ site.baseurl }}/about">Team</a></li>
	  <li class="{% if page.permalink == 'about/#get-involved' %}not-active{% endif %}"><a href="{{ site.baseurl }}/about/#get-involved">Get Involved</a></li>
	  <li class="{% if page.permalink == 'code-of-conduct' %}not-active{% endif %}"><a href="{{ site.baseurl }}/code-of-conduct">Code of Conduct</a></li>
	  <li class="{% if page.permalink == 'support-conf-events' %}not-active{% endif %}"><a href="{{ site.baseurl }}/support-conf-events">Support for Conferences and Events</a></li>
	</ul>

</div>

<script>
      $(document).ready(function(){
        $('#pintar').pushpin({
          top: 0,
          offset: 30
        });
      });
</script>