<h4>Contents:</h4>
<ul class="browser-default">
	<li class="{% if page.permalink == 'community-participation' %}not-active{% endif %}"><a href="{{ site.baseurl }}/community-participation">Community Participation Guidelines</a></li>
    <li class="{% if page.permalink == 'contributor-guidelines' %}not-active{% endif %}"><a href="{{ site.baseurl }}/contributor-guidelines">OS Contributor Guidelines</a></li>
    <li class="{% if page.permalink == 'code-of-conduct' %}not-active{% endif %}"><a href="{{ site.baseurl }}/code-of-conduct">Code of Conduct</a></li>
    <li class="{% if page.permalink == 'support-conf-events' %}not-active{% endif %}"><a href="{{ site.baseurl }}/support-conf-events">Support for Conferences and Events</a></li>
</ul>