<footer class="page-footer white">
  <div class="footer-copyright">
    <div class="container grey-text text-darken-3">
      <span>&copy; 2017 IBM Watson Data Lab</span>
      <a href="mailto:watsondatalab@gmail.com" title="Email" class="grey-text">
        <i class="fa fa-envelope" aria-hidden="true"></i>
      </a>
      <a href="https://twitter.com/WatsonDataLab" title="Twitter" class="grey-text" target="_blank">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>
      <a href="https://medium.com/ibm-watson-data-lab" title="Medium" class="grey-text" target="_blank">
        <i class="fa fa-medium" aria-hidden="true"></i>
      </a>
      <a href="https://github.com/ibm-watson-data-lab" title="GitHub" class="grey-text" target="_blank">
        <i class="fa fa-github" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</footer>

<!-- scripts -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/materialize.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/exhibit.js" ></script>
<script type="text/javascript" src="https://ibm-watson-data-lab.github.io/simple-search-js/simplesearch.js" ></script>
