{% assign items = include.items %}
{% assign context = include.context %}

{% if context=="main" %}

<ul class="{{ context }}">
  {% for item in items %}
  <li class="item {% if item.permalink and item.permalink == page.permalink %}active{% endif %}">
        <h3>
          <span class="lead-in">On {{ item.links.first[0] }}</span>
          <a href="{{ item.links.first[1] }}" title="'{{ item.title }}' on {{ item.links.first[0] }}">{{ item.title }}</a> 
        </h3>

        <div class="row">
          <div class="col m8">
            {{ item.headline }} {{ item.story }}
            <p>
              {% if item.tags %}
              <span class="tags">{{ item.tags | array_to_sentence_string: "and" }}</span>.
              {% endif %}
            </p>
          </div>
          <div class="col m3 offset-m1">
            Related
            <ul>
              {% for link in item.links %}
              <li>
                <a href="{{ link[1] }}" title="'{{ item.title }}' on {{ link[0] }}" class="link">{{ link[0] }}</a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>

  </li>
  {% endfor %}
</ul>

{% elsif context=="index"%}

<ul class="{{ context }}">
  {% for item in items %}
  <li class="item">
    <div class="row">
      <div class="col m9">
        <span class="source">{{ item.links.first[0] }}</span><br />
        <strong>
          <a href="{{ item.links.first[1] }}" title="'{{ item.title }}' on {{ item.links.first[0] }}">{{ item.title }}</a> 
        </strong><br />
        {{ item.headline }}

        {% if item.links.size > 1 %}
        <div>
          Also:
          {% for link in item.links %}
            {% if link[1] != item.links.first[1]}
            {% else %}
              <a href="{{ link[1] }}" title="'{{ item.title }}' on {{ link[0] }}" class="link">{{ link[0] }} <i class="material-icons tiny">open_in_new</i></a>&nbsp;
            {% endif %}
          {% endfor %}
        </div>
        {% endif %}
      </div>
      <div class="col m3">
        {% if item.tags %}
        <ul class="tags">
          {% for item in item.tags %}
          <li>
            - {{ item }}
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
    </div><!--row-->
  </li>
  {% endfor %}
</ul>

{% elsif context=="sidebar" %}

<ul class="{{ context }}">
  {% for item in items %}
  <li class="item">
    <span class="source">{{ item.links.first[0] }}</span><br />
    <strong>
      <a href="{{ item.links.first[1] }}" title="'{{ item.title }}' on {{ item.links.first[0] }}">{{ item.title }}</a> 
    </strong>

    {{ item.headline }}

    {% if item.tags %}
    <ul class="tags">
      {% for item in item.tags %}
      <li>
        - {{ item }}
      </li>
      {% endfor %}
    </ul>
    {% endif %}

    {% if item.links.size > 1 %}
    <div>
      Also:
      {% for link in item.links %}
        {% if link[1] != item.links.first[1]}
        {% else %}
          <a href="{{ link[1] }}" title="'{{ item.title }}' on {{ link[0] }}" class="link">{{ link[0] }} <i class="material-icons tiny">open_in_new</i></a>&nbsp;
        {% endif %}
      {% endfor %}
    </div>
    {% endif %}
  </li>
  {% endfor %}
</ul>

{% else %}

<!-- this is the catch all -->
<ul>
{% for item in items %}
  <li class="item {% if item.permalink == page.permalink %}active{% endif %}">
    {{ item }}
  </li>
{% endfor %}
</ul>
{% endif %}