<li class="{% if page.id == 'home' %}active{% endif %}"><a href="{{ site.baseurl }}/">Home</a></li>
<li class="{% if page.id == 'search' %}active{% endif %}"><a href="{{ site.baseurl }}/search">Articles</a></li>
<li class="{% if page.id == 'projects' %}active{% endif %}"><a href="{{ site.baseurl }}/projects">Projects</a></li>
<li class="{% if page.id == 'team' %}active{% endif %}"><a href="{{ site.baseurl }}/team">Team</a></li>
<li class="{% if page.id == 'community-participation' %}active{% endif %}"><a href="{{ site.baseurl }}/community-participation">Community</a></li>
