{% assign project = include.project %}

<h4>
  <div class="strategy-project-links">
    <i class="fa fa-{{ project.links.first[0] | downcase }}" aria-hidden="true"></i>
    <a href="{{ project.links.first[1] }}" class="strategy-project-link" title="'{{ project.title }}' on {{ project.links.first[0] }}">{{ project.links.first[0] }}</a>
  </div>
    <a href="{{ project.links.first[1] }}">{{ project.title }}</a>
</h4>
<p>
  {{ project.headline }}
  {% if project.links.size > 1 %}
  <span>
    See also:
    {% for link in project.links %}
      {% if link[1] != project.links.first[1] %}
      {% else %}
        <a href="{{ link[1] }}" title="'{{ project.title }}' on {{ link[0] }}" class="link">{{ link[0] }} &rarr;</a>&nbsp;
      {% endif %}
    {% endfor %}
  </span>
  {% endif %}
</p>
<div class="strategy-project-tags">
  {% if project.tags %}
  <ul>
    {% for project in project.tags %}
    <li> {{ project }} </li>
    {% endfor %}
  </ul>
  {% endif %}
</div>