{% assign project = include.project %}

<h4>
    <a href="{{ project.links.first[1] }}">{{ project.title }}</a>
    <br>

    <a href="{{ project.links.first[1] }}" class="strategy-project-link" title="'{{ project.title }}' on {{ project.links.first[0] }}">{{ project.links.first[0] }}</a>
    {% if project.links.size > 1 %}
      {% for lnk in project.links offset:1 %}
        <span class="unheader-link">&#124; <a href="{{ lnk[1] }}" class="strategy-project-link" title="'{{ project.title }}' on {{ lnk[0] }}">{{ lnk[0] }}</a> </span>
      {% endfor %}
    {% endif %}
</h4>

<p>
  {{ project.headline }}
</p>

<div class="strategy-project-tags">
  {% if project.tags %}
  <ul>
    {% for project in project.tags %}
    <li> {{ project }} </li>
    {% endfor %}
  </ul>
  {% endif %}
</div>