<!DOCTYPE html>
<html>
  {% include head.html %}
  <body id="{{ page.id }}">
    {% if site.GH_ENV == 'gh_pages' %}
      {% include google-tag-manager-body.html %}
    {% endif %}
    {% include header.html %}
    <main class="coc-page">
      <div class="container">
        <section class="row">
          <div class="col m8">
            <div class="breadcrumb">
              About /
            </div>
            <h1>{{ page.title }}</h1>
            <div>
              {{ content }}
            </div>
          </div>
          <div class="col m1"> </div>
          <div class="col m3 sidebar">
            <div class="more-topics hide-on-small-only" id="pintar">
              <span></span>
              {% include coc-toc.html %}
            </div>
          </div>
        </section>
    </main>
    {% include footer.html %} 
    <script>
      $(document).ready(function(){
        $('#pintar').pushpin({
          top: 180,
          offset: 20
        });
      });
    </script>
  </body>  
</html>
