<!DOCTYPE html>
<html>
  {% include head.html %}
  <body id="{{ page.id }}">
    {% if site.GH_ENV == 'gh_pages' %}
      {% include google-tag-manager-body.html %}
    {% endif %}
    {% include header.html %}
    <main class="coc-page">
      <div class="container">
        <section class="row">
          <div class="col m8">
            <h3>{{ page.title }}</h3>
            {{ content }}
          </div>
          <div class="col m1"> </div>
          <div class="col m3 sidebar">
            <span></span>
            {% include coc-toc.html %}
            {% comment %} See devadvo.js: uses Materialize's pushpin helper function. {% endcomment %}
          </div>
        </section>
      </div>
    </main>
    {% include footer.html %}
  </body>  
</html>
