<!DOCTYPE html>
<html>
  {% include head.html %}
  <body id="{{ page.id }}">
    {% include header.html %}
    <main>
    	<div class="container">
        {% assign project = site.data.projects | where:"permalink",page.permalink %}
        <h1>
          <span class="lead-in"><span class="featured-flag">Featured Collection</span></span>
{{ page.title }}
        </h1>

        <div class="flow-text">

          <p class="subhead">
            {{ page.headline }}
          </p>

          {{ content }}

        </div>

        <div class="divider"></div>
        <div class="section">
          <div class="row">
            {% if page.essentials and page.essentials.size > 0 %}
            <div class="col m4">
              <p class="subhead">
                {{ page.title }} Essentials
              </p>
              <ul>
            {% for link in page.essentials %}
                <li>
                  <a href="{{ link[1] }}" title="{{ link[1] }}">{{ link[0] }} &rarr;</a>
                </li>
            {% endfor %}
              </ul>
            </div>
            {% endif %}
            <div class="col {% if page.essentials and page.essentials.size > 0 %}m8{% else %}m12{% endif %}">
              <p class="subhead">
                {{ page.title }} projects and examples
              </p>
              {% assign items = site.data.projects | where:"parents",page.permalink | reverse %}
              {% include item.html items=items context="index" %}          
            </div>
          </div>
        </div>

        <div class="divider"></div>
        <div class="section">
          {% for feature in site.features %}
            {% if page.strategies contains feature.permalink %}
              More like this: <a href="{{ feature.permalink }}">{{ feature.title }}</a>
            {% endif %}
          {% endfor %}
          <p>
            <a href="/projects">All projects</a>
          </p>
        </div><!--row-->
      </div>
    </main>
    {% include footer.html %}
  </body>
</html>