<!DOCTYPE html>
<html>
  {% include head.html %}
  <body id="{{ page.id }}">
    {% if site.GH_ENV == 'gh_pages' %}
      {% include google-tag-manager-body.html %}
    {% endif %}
    {% include header.html %}
    <main class="featured-collection">
      {% assign strategies = site.strategies %}
      {% assign thisstrategies = page.strategies %}

      <div class="container">
        <section class="row">
          <div class="col m8">
            <div>
              <div class="breadcrumb">
              {% for strategy in strategies %}
                {% for thisstrategy in thisstrategies %}
                  {% if strategy.permalink == thisstrategy %}
                    {{ strategy.title }} / Collection
                  {% endif %}
                {% endfor %}
              {% endfor %}
              </div>
              <h1>{{ page.title }}</h1>
              <p class="headline">{{ page.headline }}</p>
              {% include strategy-lead.html lead=page.lead %}
            </div>

            <div>
              {{ content }}
            </div>
          </div>
          <div class="col m1"> </div>
          <div class="col m3 sidebar">
            <a href="#collection-projects" class="jump-link">&darr; View projects in this collection</a>
            <div class="more-topics">
              {% if page.essentials and page.essentials.size > 0 %}
              <span>Essentials</span>
              <ul>
                {% for link in page.essentials %}
                <li>
                  <a href="{{ link[1] }}" title="{{ link[1] }}">{{ link[0] }} &rarr;</a>
                </li>
                {% endfor %}
              </ul>
              {% endif %}
            </div>
          </div>
        </section>

        <section id="collection-projects" class="row">
          <div class="col m12">
            {% assign projects = site.data.projects | where:"features",page.permalink | reverse %}
            {% if projects.size > 0 %}
            <h3>Projects</h3>
            <ul>
              {% for proj in projects %}
              <li class="m12 strategy-project-info">
                {% include single-project.html project=proj %}
              </li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>
        </section>
    </main>
    {% include footer.html %} 
  </body>  
</html>    