<!DOCTYPE html>
<html>
  {% include head.html %}
  <body id="{{ page.id }}">
    {% include header.html %}
    <main>
    	<div class="container">
        <!-- get the data from the features/strategies pages 
        {% assign project = site.features | where:"permalink",page.permalink %}
        -->

        <h1>
          <span class="lead-in">{{ page.title }}</span>
          {{ page.headline }}
        </h1>

        <div class="flow-text">

            {{ content }}

        </div><!--flow-->

        <!-- get the featured projects pages relating to this strategy -->
        {% assign collections = site.features | where:"strategies",page.permalink %}
        {% if collections.size > 0 %}
        <div class="section">
          {% include item-featured.html items=collections context="main" %}
        </div>
        {% endif %}

        {% assign projects = site.data.projects | where:"strategies",page.permalink | reverse %}
        {% if projects.size > 0 %}
        <div class="divider"></div>
        <div class="section">
          <div class="subhead">
            {{ page.title }} projects
          </div>
          {% include item.html items=projects context="index" %}          
        </div>
        {% endif %}

        <div class="divider"></div>
        <div class="section">
          <div class="row">
            <div class="col m2">
              <p class="subhead">
                See also
              </p>
            </div>
            <div class="col m10">
              <ul class="see-also">
                {% for topic in site.strategies %}
                <li {% if topic.permalink == page.permalink %}class="active"{% endif %}>
                  <a href="{{ topic.permalink }}">{{ topic.title }}</a>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <p>
            <a href="/projects">All projects</a>
          </p>
        </div><!--row-->
      </div>
    </main>
    {% include footer.html %}
  </body>
</html>